<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="practicaDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Максим\source\repos\Practica_2\Practica_2\Database1.mdf;Integrated Security=True" />
  <add name="Practica_2.Properties.Settings.Database1ConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Practica_2.Properties.Settings.ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
   providerName="System.Data.SqlClient" />
  <add name="Practica_2.Properties.Settings.C__USERS_МАКСИМ_SOURCE_REPOS_PRACTICA_2_PRACTICA_2_DATABASE1_MDFConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=C:\USERS\МАКСИМ\SOURCE\REPOS\PRACTICA_2\PRACTICA_2\DATABASE1.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>